:global(.animate-fast-bg) {
  animation: slide 2s linear infinite;
}
:global(.animate-bg) {
  animation: slide 10s linear infinite;
}
:global(.animate-wobble) {
  animation-name: sparkle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}
@keyframes sparkle {
  0% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}