:global(.animate-bg-fast) {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
:global(.animate-bg) {
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
:global(.animate-bg-hover-fast) {
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:hover{
    animation-duration: 2s;
  }
}
:global(.animate-wobble) {
  animation-name: sparkle;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}
@keyframes sparkle {
  0% {
    opacity:0.2;
  }
  100% {
    opacity:1;
  }
}


:global(.float){
  animation-name: float;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes float{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}