@font-face {
  font-family: 'Inter Tight';
  src: url('$assets/fonts/InterTight-Regular.eot');
  src: local('Inter Tight Regular'), local('InterTight-Regular'),
      url('$assets/fonts/InterTight-Regular.eot?#iefix') format('embedded-opentype'),
      url('$assets/fonts/InterTight-Regular.woff2') format('woff2'),
      url('$assets/fonts/InterTight-Regular.woff') format('woff'),
      url('$assets/fonts/InterTight-Regular.ttf') format('truetype'),
      url('$assets/fonts/InterTight-Regular.svg#InterTight-Regular') format('svg');
  font-weight: semibold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('$assets/fonts/subset-Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
      url('$assets/fonts/subset-Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('$assets/fonts/subset-Inter-Regular.woff2') format('woff2'),
      url('$assets/fonts/subset-Inter-Regular.woff') format('woff'),
      url('$assets/fonts/subset-Inter-Regular.ttf') format('truetype'),
      url('$assets/fonts/subset-Inter-Regular.svg#subset-Inter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('$assets/fonts/subset-Inter-Bold.eot');
  src: local('Inter Bold'), local('Inter-Bold'),
      url('$assets/fonts/subset-Inter-Bold.eot?#iefix') format('embedded-opentype'),
      url('$assets/fonts/subset-Inter-Bold.woff2') format('woff2'),
      url('$assets/fonts/subset-Inter-Bold.woff') format('woff'),
      url('$assets/fonts/subset-Inter-Bold.ttf') format('truetype'),
      url('$assets/fonts/subset-Inter-Bold.svg#subset-Inter-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('$assets/fonts/Inter-Light.eot');
  src: local('Inter-Light'), local('Inter-Light'),
      url('$assets/fonts/Inter-Light.woff2') format('woff2'),
      url('$assets/fonts/Inter-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}